
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden; 
  background-color: #f4f1e8;

  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}